[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
spines = {path = ".",editable = true}
appdirs = "*"
click = "*"
parver = "*"
toml = "*"
xxhash = "*"

[dev-packages]
coverage = "*"
flake8 = "*"
git-fame = "*"
invoke = "*"
mypy = "*"
nbsphinx = "*"
pandoc = "*"
pytest = "*"
pytest-cov = "*"
pytest-timeout = "*"
pytest-xdist = "*"
python-dotenv = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
towncrier = "*"
tox = "*"
twine = "*"
